[2018-04-29 17:45] seik opened #4 "Add codestyle bot checker"

[2018-04-29 17:47] seik opened #5 "Documentation"

[2018-04-29 17:47] seik opened #6 "Tests"

[2018-04-29 17:50] seik opened #7 "Break dispatcher sample into more samples (location/contact, commands, etc...)"

[2018-04-30 00:39] #4 closed

[2018-04-30 00:57] seik opened #9 "Add issues template"

[2018-06-22 16:54] ClockVapor opened #11 "Message.from should be nullable"
As explained at https://core.telegram.org/bots/api#message, the "from" property is null if the message is sent in a channel.

[2018-06-22 16:57] ClockVapor opened #12 "Some User properties should be nullable"
`User.lastName`, `User.username`, and `User.languageCode` should all be nullable, as explained at https://core.telegram.org/bots/api#user

[2018-07-01 09:20] #11 closed

[2018-07-01 09:20] #12 closed

[2018-07-07 15:22] hangyas opened #18 "Add Filters"
Hi, I was wondering if you are planning to add Filters (like https://python-telegram-bot.readthedocs.io/en/stable/telegram.ext.filters.html). I think this the strongest feature of the python library, which you also mention as inspiration. (And I actually find them way more useful than stickers and games) If you have such plans, I'd be happy to help you with that.

[2018-07-15 15:54] seik commented on #18
That would be a great feature to have. At the moment I can't plan and develop that feature (not much free time), but PR are welcome!

[2018-08-28 19:33] sssemil opened #22 "Bot won't get messages in large super groups"
The following code works just fine in groups with 4 and 20 members (both super groups, one public, one private), but doesn't work in a super group with 440 members. Bot will only receive replies and commands.

[code]

[2018-09-06 20:58] seik commented on #22
This sound to me like privacy settings. Can you give this a look and see if it helps? https://core.telegram.org/bots#privacy-mode

[2018-09-07 08:31] sssemil commented on #22
It does look like that, but the bot worked just with a org.telegram.telegrambots based implementation. Anyway, the problem seems to have fixed itself, and it works now, but I wouldn't just dismiss it, if I were you.

[2018-09-17 11:37] skel2007 opened #24 "Export sources to JitPack"
It's very hard to develop and debug while sources of lib are not available
![2018-09-17_14-34-07](https://user-images.githubusercontent.com/43271714/45620881-f692cd00-ba86-11e8-869c-1cdbe8031ab4.png)

[2018-09-26 17:27] seik commented on #22
Ok will keep an eye on this. Please if the error occurs again reopen this issue.

[2018-09-26 17:27] #22 closed

[2019-01-21 23:38] Flassie opened #28 "Bot will never work again after converting group to supergroup"
**How to repeat problem**:

1. Start bot
2. Invite this bot to the simple group (not supergroup)
3. Convert this group into the supergroup
4. Your bot will not receive any events

**Problems and possible solutions**:

1) Major bug:
https://github.com/seik/kotlin-telegram-bot/blob/e2d86fb449055e08147aedf2599e68ce287b4b04/telegram/src/main/kotlin/me/ivmg/telegram/entities/Message.kt#L41-L42
I don't

[2019-01-27 09:39] seik commented on #28
#29 Fixed it, thanks!

[2019-01-27 09:39] #28 closed

[2019-03-21 06:47] avently opened #30 "Allow to stop bot instance"
For now bot can be started but can not be stopped. In my use-case I need to change proxy value at runtime or disable bot at all but it's not possible now.

So I think Closeable interface could be implemented and after close() called executor and dispatcher should be closed.

P.s. code is so gorgeous!

[2019-05-13 12:32] seik commented on #30
Hi @avently! That's seems like a good idea. I don't really have the time right now but if you are willing to do a PR I could review it.

If not I will try to implement this the next time I push some feature 😄

[2019-05-25 11:35] BjoernPetersen opened #33 "Allow inline query handling"
There is an `InlineQuery` entity, but otherwise the whole inline query feature is ignored right now.

[2019-06-14 06:12] MatthiasReumann opened #34 "Add file dispatcher"
It would be nice to have a dispatcher like the location one for files.

[2019-08-07 09:03] asm0dey opened #35 "Add example for Markdown handling"
It's possible to send markdown to bot, but currently I can't see any way to handle it. If that's possible — could you please write example of usage?

[2019-09-13 18:01] seik commented on #9
Fixed in 88628e6

[2019-09-13 18:01] #9 closed

[2019-09-13 18:03] seik commented on #6
A good base for testing was introduced in #36, now more coverage is needed for base functionality.

[2019-09-15 18:03] sssemil opened #37 "Downloading files"
In the current version it is not possible to dowload files, like photos or anything else.

Impement the 'file' call, than can use the File returned by the [getFile](https://core.telegram.org/bots/api#getfile) call.

No alternatives I can see, except for dowloading it manually, in your own code.

Just implement dowloading based on File object with `https://api.telegram.org/file/bot<token>/<file_pat

[2019-10-15 09:56] artem-bakuta opened #39 "NoClassDefFoundError me/ivmg/telegram/BotKt"
**Expected behavior**
Starting Bot on server i always get
[code]

on my local machine, there is no such problem

[2019-10-15 09:57] seik commented on #39
Hi Artem, how are you deploying the code on the server?

[2019-10-15 10:01] artem-bakuta commented on #39
Hi, i have jar file,
may be my gradle file will say you something:
`buildscript {
    repositories {
        jcenter()
    }

    dependencies {
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }

}

apply plugin: 'kotlin'
apply plugin: 'application'

group '**********'
version '0.0.11'
mainClassName = 'com.csirt.ApplicationKt' // For versions < 1.0.0-beta-3
//main

[2019-10-15 10:08] seik commented on #39
My best guess is that this project is not inside the Jar. Try to pack a fat jar: https://ktor.io/servers/deploy/packing/fatjar.html

Reference: https://github.com/ktorio/ktor/issues/978

I'm going to close this issue as I feel is not strictly related to the project, but maybe I should write a guide about how to deploy the project.

[2019-10-15 10:08] #39 closed

[2019-10-15 10:11] seik opened #40 "How to deploy guide"
**Is your feature request related to a problem? Please describe.**
Right now there is no guide on how to deploy the project.

**Describe the solution you'd like**
Write a guide about how to deploy.

**Describe alternatives you've considered**
None.

**Implementation ideas**
Write two guides, one using a simple fat jar and one using docker.

**Additional context**
Issue: #39
Link: https://ktor.io/s

[2019-10-15 10:30] #30 closed

[2019-11-04 16:45] elihun opened #44 "Webhook"
Hello! Is there any way to use webhooks for update handling?

[2019-11-05 22:11] #35 closed

[2019-11-05 22:12] seik commented on #35
Hi @asm0dey, @vjgarciag96 just added an example showing hot to handle markdown, check it out! https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/41

[2019-11-05 23:00] seik commented on #33
This has been implemented in #42

[2019-11-05 23:00] #33 closed

[2019-11-06 07:39] seik commented on #44
Hi @ilya-gr, right now there is no option for webhooks. I can't say I'm going to implement it since it's something I'm not going to use by myself.

If someone wants to give a take on it the PRs are open! I'm going to leave this issue ope as a reference.

[2019-11-07 07:48] ilya-gr commented on #44
Hi @seik, thank you for the answer!

[2019-12-23 11:11] vjgarciag96 commented on #44
I'm going to start working on this, stay tuned!

[2019-12-29 11:15] bash-spbu opened #45 "`sendMediaGroup` throws retrofit2 exception"
I get the following error when invoke `Bot#sendMediaGroup` method :
[code]

In my opinion problem is here:
https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/ab798c96a3a6960a61cc9112842af636b1344543/telegram/src/main/kotlin/me/ivmg/telegram/network/ApiService.kt#L256

It is because Kotlin's List is covariant and to support it Kotlin's compiler generates Java's wildcards. So indeed it'

[2019-12-29 13:39] bash-spbu commented on #45
And moreover, looks like this method needs `@Multipart` encoding, because now media is encoded in urlencoded form instead of being JSON-encoded :c

[2020-01-19 16:04] vjgarciag96 commented on #45
Hi @bash-spbu !! You're right. There are several errors on this method.

1. Using `List<MediaType>` as parameter in the method throws the exception you commented.
2. `MediaType` is not the right type for `media` parameter because it has four childs: `InputMediaAudio`, `InputMediaDocument`, `InputMediaVideo` and `InputMediaPhoto`. However, the documentation says that the `sendMediaGroup` operation

[2020-01-25 14:22] rundoom commented on #37
Seems like this issue can be closed by 9889665109fd9229eaed57ac0d84b36816dc4b87

[2020-01-26 18:35] mimithebrain opened #47 "deleteMessage"
**Is your feature request related to a problem? Please describe.**
While creating a moderation bot, it would be useful to delete previous welcome messages to keep the group history clean.

**Describe the solution you'd like**
https://core.telegram.org/bots/api#deletemessage
Implementing this API would allow a bot to delete its own historical and potentially lengthy messages.

**Describe alternativ

[2020-01-26 18:36] #47 closed

[2020-01-26 18:38] mimithebrain commented on #47
My apologies, created the issue against the wrong project.

[2020-01-30 23:14] FRQDO opened #49 "Inconsistent method signature in sendPhoto"
**Expected behavior**
I can pass a photo, a caption, _and a reply markup_ to `Bot#sendPhoto`.

**Actual behavior**
The `ApiService.kt` has a field for the `reply_markup` in each `sendPhoto` function.
The `ApiClient.kt` that redirects its `sendPhoto` to the `ApiService` is oblivious to this parameter.
Therefore, the `Bot.kt` does not have this parameter, either.

**To Reproduce**
See `Bot.kt`, line

[2020-02-02 14:50] vjgarciag96 commented on #49
Hi @FRQDO! Thanks for reporting the issue. The problem has been fixed by @elihun in this PR -> #48. Just for your interest. I'll close the issue.

[2020-02-02 14:50] #49 closed

[2020-02-02 15:15] FRQDO commented on #49
Great news, thanks!

[2020-04-03 07:54] vicmosin commented on #44
@vjgarciag96 Is there any update regarding the issue?

[2020-04-03 08:00] #37 closed

[2020-04-05 11:17] vjgarciag96 commented on #44
Hi @vicmosin!! I have a branch with a working version. However, I wanted to test that all the certificates stuff is working in a real environment, but I had no time to finish checking that. Do you want to contribute on this?. If so, I could upload the work in progress version of my branch to let you check how it's going and to also let you contributing to it if you want.

[2020-04-05 11:28] vjgarciag96 commented on #44
Here you can check the advances of my branch -> https://github.com/vjgarciag96/kotlin-telegram-bot/commit/7cb55145f2002e01e1d46a211adab9b7edd75670

If you want to contribute on it, please let me know (cc/ @vicmosin)

[2020-04-10 15:02] vicmosin commented on #44
@vjgarciag96 Could you please put all the changes into your branch and describe a bit what's still missing? I think I could check it

[2020-04-15 11:04] vjgarciag96 commented on #44
Sure, the branch is now updated with the latest changes!

Regarding the changes of the branch...

I have basically added the three API operations needed to work with webhooks:

- `setWebhook`. This is the one that has more complexity. Well, the only "complex" point is that the certificate file can be sent in different ways (using a file id, an url of an already uploaded file or as a `multipart/for

[2020-04-25 19:47] vjgarciag96 opened #54 "Update Kotlin version"
Update Kotlin version from 1.3.50 to 1.3.70

[2020-04-25 19:49] #34 closed

[2020-04-25 19:51] vjgarciag96 commented on #44
I could finally test it and complete the code. The PR is ready -> https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/52

cc/ @vicmosin

[2020-04-25 20:22] vjgarciag96 opened #55 "Full support of Telegram Bot API"
There are a bunch of features that Telegram Bot API offers but our library doesn't implement. It would be nice to support all of them. In this issue we'll start tracking all the missing features. The next step will be implementing them little by little.

**Bot API 4.8**
- [ ] Supported explanations for Quizzes 2.0. Add explanations by specifying the parameters `explanation` and `explanation_parse_

[2020-04-26 10:24] seik opened #56 "Change package name"
Current package name is: `me.ivmg.*`

Change to something like: `com.kotlintelegrambot.*`

[2020-04-26 10:25] seik commented on #56
I will take on this once #44 is merged since it will break a lot of things.

[2020-04-27 17:49] vjgarciag96 commented on #56
#52 has been merged, you can proceed whenever you want

[2020-04-27 17:50] vjgarciag96 commented on #44
Branch with support for webhooks integrated (#52) @vicmosin @elihun

[2020-04-27 17:50] #44 closed

[2020-04-27 18:25] #54 closed

[2020-04-30 13:41] #56 closed

[2020-05-02 17:10] vjgarciag96 commented on #45
@bash-spbu fixed by #60! Closing it

[2020-05-02 17:10] #45 closed

[2020-05-13 10:55] vjgarciag96 opened #62 "Support for Telegram Bot API 4.8"
Supporting the 4.8 version of the Telegram Bot API involves the next:

- [x] Supported explanations for Quizzes 2.0. Add explanations by specifying the parameters `explanation` and `explanation_parse_mode` in the method `sendPoll`.
- [x] Added the fields `explanation` and `explanation_entities` to the `Poll` object.
- [x] Supported timed polls that automatically close at a certain date and time. S

[2020-05-13 10:57] vjgarciag96 opened #63 "Support for Telegram Bot API 4.7"
Supporting the 4.7 version of the Telegram Bot API involves the next:

- [ ] Added the method `sendDice` for sending a dice message, which will have a random value from 1 to 6.
- [ ] Added the field `dice` to the `Message` object.
- [x] Added the method `getMyCommands` for getting the current list of the bot's commands.
- [x] Added the method setMyCommands for changing the list of the bot's comman

[2020-05-13 11:00] vjgarciag96 opened #64 "Support for Telegram Bot API 4.6"
Supporting the 4.6 version of the Telegram Bot API involves the next:

- [x] Added the ability to send non-anonymous, multiple answer, and quiz-style polls: added the parameters `is_anonymous`, `type`, `allows_multiple_answers`, `correct_option_id`, `is_closed` options to the method `sendPoll`.
- [x] Added the object `KeyboardButtonPollType` and the field `request_poll` to the object `KeyboardButt

[2020-05-13 11:06] vjgarciag96 opened #65 "Support for Telegram Bot API 4.5"
Supporting the 4.5 version of the Telegram Bot API involves the next:

- [x] Added support for two new `MessageEntity` types, `underline` and `strikethrough`.
- [x] Added support for nested `MessageEntity` objects. Entities can now contain other entities. If two entities have common characters then one of them is fully contained inside the other.
- [x] Added support for nested entities and the new

[2020-05-13 11:07] vjgarciag96 opened #66 "Support for Telegram Bot API 4.4"
Supporting the 4.4 version of the Telegram Bot API involves the next:

- [x] Added support for animated stickers. New field `is_animated` in `Sticker` and `StickerSet` objects, animated stickers can now be used in `sendSticker` and `InlineQueryResultCachedSticker`.
- [x] Added support for default permissions in groups. New object `ChatPermissions`, containing actions which a member can take in a c

[2020-05-13 11:10] vjgarciag96 commented on #55
Closing this issue because it has been split into issues per API version

[2020-05-13 11:10] #55 closed

[2020-05-13 11:17] vjgarciag96 opened #67 "Support for Telegram Bot API 4.3"
Supporting the 4.3 version of the Telegram Bot API involves the next:

- [ ] Added the new object `LoginUrl` and the new field `login_url` to the `InlineKeyboardButton` object which allows to automatically authorize users before they go to a URL specified by the bot. (Users will be asked to confirm authorization in their Telegram app (needs version 5.7 or higher) when they press the button).
- [x]

[2020-05-17 17:49] vjgarciag96 opened #73 "Update 'ParseMode' usages to follow the same serialization approach in all the project"
In the past, to serialize the `ParseMode` enum we were using an additional `String` attribute `modeName` with the value to be used in the "serialization". After #72 we've started to use the `@SerializedName` annotation as the preferred way for enums serialization (supported both by our `Gson` and `Retrofit` configurations) which is transparent for us.

Therefore, it would be really nice to replace

[2020-05-30 14:33] #62 closed

[2020-05-30 16:02] #64 closed

[2020-06-07 16:20] vjgarciag96 opened #79 "Support for Telegram Bot API 4.9"
Supporting the 4.9 version of the Telegram Bot API involves the next:

- [x]  Added the new field `via_bot` to the `Message` object. You can now know which bot was used to send a message.
- [x] Supported video thumbnails for inline GIF and MPEG4 animations.
- [x] Supported the new basketball animation for the random dice. Choose between different animations (dice, darts, basketball) by specifying

[2020-06-13 12:38] vjgarciag96 commented on #79
Fully supported! 🥳

[2020-06-13 12:38] #79 closed

[2020-06-13 13:07] vjgarciag96 commented on #66
Fully supported!

[2020-06-13 13:07] #66 closed

[2020-06-18 21:25] tommyzat opened #81 "Reduce/disable bot logging"
Hello!

I'm trying to write a command line app. This bot logs like crazy! It would be great if this could be avoided.

[2020-06-18 21:38] vjgarciag96 commented on #81
Hey @tommyzat!! There is an option to disable the logs. When building the bot you can do the next:

[code]
Let me know if that works for you!

🤔 Also, it may make more sense to have the logs disabled by default... I'll think about it and do the change if it worths

[2020-06-18 21:50] tommyzat commented on #81
Thank you so much! Great library, really enjoy using it!

[2020-06-18 21:50] #81 closed

[2020-06-20 10:19] vjgarciag96 opened #82 "Disable logging by default"
The current implementation of the bot has the logging enabled by default. I think it could be a good idea to have it disabled by default, so only the people who need it have to enable it and the people that don't want it don't have to disable it.

This change is really easy, we just have to set the default bot's `logLevel` to `HttpLoggingInterceptor.Level.NONE`.

It would be also nice to add a bit

[2020-06-20 16:10] vjgarciag96 commented on #65
Fully supported! 🚀

[2020-06-20 16:10] #65 closed

[2020-06-20 16:10] seik commented on #82
Makes sense to me.

And a 👍 for abstracting Okhttp from our library. Even if it is a breaking change, maybe not a lot of people are modifying the default level of logging. And if it is, is a one line change.

[2020-07-01 20:54] vjgarciag96 opened #88 "Create a handler to allow working with commands as messages"
Currently, the library has a handler for commands (`CommandHandler`) to let us passing functions to it that will be executed every time a command is received.

The functions we can pass to the mentioned handler have the signature `(Bot, Update, List<String>) -> Unit` or `(Bot, Update) -> Unit`. Therefore we can define something like the next:

[code]

Some common use cases imply the bot sending an

[2020-07-12 19:31] #82 closed

[2020-07-14 08:53] seik opened #93 "6.0.0 version and breaking changes"
Since the last version at least 2 breaking changes have been introduced:
#82 and #91 (not merged at the moment but approved).

Maybe it's time to create a major version with big changes and release all breaking changes at the same time.

I opened this issue to plan the next release and to ask if there are any other changes you have always wanted to introduce but were afraid because of breaking too

[2020-07-14 09:01] seik commented on #88
Addressed in #91

⊂(◉‿◉)つ

[2020-07-14 09:01] #88 closed

[2020-07-14 19:17] vjgarciag96 commented on #93
I agree with you, the breaking API changes should mean a new major version.

Also agree that we should include other breaking changes that we were afraid of adding now that we're going to increase the major version number.

In the top of my mind I'd say that migrating all the other dispatcher functions (like `message`, `text`, `callbackQuery`, etc...) to the same approach we've implemented for `co

[2020-07-15 15:41] seik commented on #93
I'm totally fine with that, we should take all the time we need to do this. 😄

[2020-07-16 04:18] odeadglaz opened #94 "Telegram passport support"
Hello,
I would love to ask if you are planning to add support for telegram passport since it has been released at version `4.0`?

Thanks in advance.

[2020-07-19 15:02] vjgarciag96 opened #95 "Support for Telegram passport"
In the Telegram Bot API version 4.0, Telegram added support for [Telegram Passport](https://core.telegram.org/passport). As part of our goal of supporting the whole Telegram Bot API, it would be really nice to add support for it in our library.

Here there are a few links that can be helpful at the time of implementing it:
* https://telegram.org/blog/passport
* https://core.telegram.org/passport

[2020-07-19 15:03] vjgarciag96 commented on #94
Hey @odeadglaz!

Yes, we want to provide full support to the Telegram Bot API from the library, therefore supporting Telegram passport is in our plans. However, I can't say anything about when we'll work on it...

For the moment, I have created an issue to keep track of this feature request and to make it visible to any possible contributor interested in working on it -> https://github.com/kotlin-

[2020-07-19 15:05] #94 closed

[2020-07-19 15:17] vjgarciag96 opened #96 "Migrate handlers to lamdas with receivers"
In https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/issues/88, we updated command handlers to use a lamda with receiver instead of a lambda in order to provide all the arguments correspondent to the handler in the scope of the lambda, to make them easier and to have a better syntax.

It would be really nice to migrate all the other handlers to the same approach.

For example, currently w

[2020-07-19 15:23] vjgarciag96 commented on #93
Cool!

I have created an issue for the wish mentioned in the previous comment -> https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/issues/96

Also, after taking a look to the project, I don't have anything else I would like to change that will mean a breaking API change.

So, once implemented the issue mentioned in the comment (and if there is not anything else) we could create the new ma

[2020-08-02 16:06] alvarezfmb commented on #40
A guide focused on Heroku would be nice, I'm having some trouble with the port binding process.

[2020-08-06 06:35] y9san9 opened #98 "message.media_group_id field"
**Is your feature request related to a problem? Please describe.**
I wanna handle media group with some photos, but for that case I need media_group_id field and api to get it

**Additional context**
![image](https://user-images.githubusercontent.com/46930374/89499069-112fd580-d7c8-11ea-8a2f-659639a798fd.png)

[2020-08-06 22:53] #98 closed

[2020-08-06 22:55] vjgarciag96 commented on #98
Hey @y9san9!!

Thanks for reporting!

Fixed in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/100

[2020-08-07 08:34] y9san9 commented on #98
thank you, also via your library I can handle only one update (as I know), but to handle media group, I should get all new updates and then select updates that has same media_group_id, can you implement that ? Something like
[code]

[2020-08-09 11:26] vjgarciag96 commented on #98
re @y9san9: Sure, can you create a new issue explaining the feature request?

[2020-08-09 11:50] y9san9 opened #102 "add media group handler"
Refs to #98, message that is in a media group, contains media_group_id parameter.
If bot received media group, then there are some messages with same media_group_id in updates.
I want to handle media group, to do that, you should group messages from updates by media_group_id parameter. Handler syntax may be something like

[code]

[2020-09-04 04:07] Shabinder commented on #40
Yeah a Guide would help a lot!

[2020-09-14 14:08] YouROK opened #104 "Bot.restrictChatMember not working"
**Expected behavior**
working function

**Actual behavior**
not working

**To Reproduce**
newChatMembers { bot, message, list ->
                                val resp = bot.restrictChatMember(
                                    message.chat.id, usr.id, ChatPermissions(
                                        false,
                                        false,

[2020-09-14 20:21] vjgarciag96 commented on #104
I'll take a look to this issue, thanks for the report!

[2020-09-15 10:20] YouROK commented on #104
with this patch working ok
[0001-fix-user-restrict.patch.txt](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/files/5224204/0001-fix-user-restrict.patch.txt)

[2020-09-21 19:00] y9san9 commented on #102
something new ?

[2020-09-21 19:22] y9san9 commented on #102
![image](https://user-images.githubusercontent.com/46930374/93811477-e0610e00-fc58-11ea-9ae2-34c8f48e9faa.png)
I think you should just add there groupping by media_group_id

[2020-09-23 05:33] y9san9 opened #105 "add distaptcher.clearHandlers()"
I want to make something like:
[code]

[2020-09-26 18:24] vjgarciag96 commented on #102
I took a look to this some time ago and got a solution.

However, it was only working if getting updates by polling but not by webhook (there are some differences between how both ways of getting updates work)

And I was working on making it work for webhooks but didn't have enough time to finish it. I'll continue working on that, but I don't know when I'll be able to get something ready to be int

[2020-09-26 18:45] vjgarciag96 commented on #105
Ok, just to clarify - what you want is a way to add or remove handlers dynamically and not only in the bot set up, right?

I think that's a nice feature request. And not hard to implement, but can be tricky because we'll need to make the handlers' collections thread-safe. We get them from a dedicated thread that is looping to get updates, and modifying the collections from other threads will cause

[2020-09-26 19:25] y9san9 commented on #105
you already have dispatcher.addHandler(...) and distpatcher.removeHandler(...), can you just create dispatcher.clearHandlers() ?

[2020-09-29 08:52] reopold opened #106 "add sequence of states to the user"
Hello.
Currently, it is not possible to create a sequence of related questions for a specific user.
Also, I want to store the data of a specific user.

I want to make something like:

[code]

[code]

[2020-09-30 13:37] Caps-Looking commented on #73
Hi! Can I take this one?

[2020-09-30 14:45] seik commented on #73
@Caps-Looking sure! Assign me on the PR as reviewer and I will take a look at it.

[2020-10-04 21:41] vjgarciag96 commented on #104
Fixed with https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/109

[2020-10-04 21:41] #104 closed

[2020-10-05 07:42] fromgate opened #110 "Bot.kickChatMember doesn't work as expected"
**Expected behavior**
I'm trying to temporary remove user from the group:

**Actual behavior**
User banned forever

**To Reproduce**
`bot.kickChatMember(chatId, newChatMemberId, Date(System.currentTimeMillis() + 60000))`
User must be able to join group again after 60 seconds, but banned forerver

**Possible solutions**
I think that untilDate should be converted to Unix time.

https://github.com/ko

[2020-10-05 21:24] #110 closed

[2020-10-18 13:06] #73 closed

[2020-10-19 13:24] Partizanin commented on #40
the same trouble

after deploy i have this error
![image](https://user-images.githubusercontent.com/5072597/96456673-7b80df80-1227-11eb-8035-a38d44740289.png)

_2020-10-19T13:07:23.819840+00:00 app[web.1]: INFO: --> END GET
2020-10-19T13:08:00.619001+00:00 heroku[web.1]: Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 90 seconds of launch
2020-10-19T13:08:00.637931+00:00 her

[2020-10-20 09:34] snail-bob commented on #40
hey, guys. to bind to port, try to start netty server:

dependency:
`implementation "io.ktor:ktor-server-netty:1.2.6"`

and this code inside your main function:

`embeddedServer(Netty, System.getenv("PORT").toInt()) {`
`                routing {`
`                    get("") {`
`                        call.respond("I'm alive!")`
`                    }}}`
`.start(wait = true)`

your next challenge

[2020-10-20 22:12] FoRRestDp opened #113 "Sending message with InlineKeyboardButton which have only text results in Bad Request response"
**Expected behavior**

Sending message with `InlineKeyboardButton` which have only `text: String` as constructor argument should be prohibited or work properly.

**Actual behavior**

It causes Error 400 "Bad Request: can't parse inline keyboard button: Text buttons are unallowed in the inline keyboard" as response.

**To Reproduce**
[code]

**Screenshots/Traceback**
Error body:
[code]

[2020-10-21 08:35] Partizanin commented on #40
For some reason it is not working for me. after launching on heroku, nothing happens

[2020-10-21 14:18] reopold opened #114 "Abnormal errorMessage returned by getUpdates"
**Expected behavior**
In case of an error in the process of receiving updates, we would like to receive a response from the server, like:
_{"ok":false,"error_code":409,"description":"Conflict: terminated by other getUpdates request; make sure that only one bot instance is running"}_

**Actual behavior**
Now we get:
_serverResponse = okhttp3.ResponseBody$1@7fe86edf_

**To Reproduce**
Run two instan

[2020-10-21 16:58] snail-bob commented on #93
Hello, guys!

When do you plan to release 6.0.0 version?

[2020-10-24 11:41] vjgarciag96 commented on #113
Thanks for the report @FoRRestDp! I'll take a look to this

[2020-10-25 11:51] vjgarciag96 commented on #114
Fixed in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/115

[2020-10-25 11:51] #114 closed

[2020-10-28 06:31] YouROK opened #117 "chatId in sends commands may by Long or String"
To send messages, we can use a number or a string to chat or channel.
But to send to a channel, we usually use the channel name and the channel id is unknown.
The api telegram says that chatId

https://core.telegram.org/bots/api#sendmessage

[2020-10-28 19:33] vjgarciag96 commented on #117
Thanks for reporting! I'll add support to send messages with a channel name

[2020-10-31 16:51] #117 closed

[2020-11-01 19:25] vjgarciag96 commented on #96
Done in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/103

[2020-11-01 19:25] #96 closed

[2020-11-01 19:26] vjgarciag96 commented on #93
We've merged the main PR for this release today https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/103, so we'll probably release the new version soon

[2020-11-01 19:28] vjgarciag96 commented on #93
Still want to add a change related with the issue https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/issues/113 (work in progress) that would slightly break the API compatibility in some parts of the library, so it would be nice to include it in 6.0.0 too

[2020-11-03 07:09] ivanantipin opened #120 "asynchronous send* commands"
it would be beneficial for high loaded server to use asynchronouse send message/photo etc
but currently retrofit api is hidden in bot
maybe create suspended functions so it can benefit from kotlin coroutines ?

[2020-11-05 01:08] imorte commented on #95
u can assign it to me 👌

[2020-11-05 01:15] imorte commented on #95
but is it really popular feature?

[2020-11-06 15:26] reopold opened #121 "Invalid response type of deleteMessage()"
The response type of the `deleteMessage()` function should be `Call<Response<Boolean>>`,
not `Call<Response<Message>>`

**Expected behavior**
No errors when call `deleteMessage() `

**Actual behavior**
Responce error when call `deleteMessage() `

**To Reproduce**
`deleteMessage(c_id, m_id)`

**Screenshots/Traceback**
Response:
_nov 04, 2020 2:38:04 AM okhttp3.internal.platform.Platform log
INFO: {

[2020-11-06 15:37] reopold commented on #121
From Telegram API:
_"Returns True on success."_

[2020-11-06 20:26] vjgarciag96 commented on #121
Thanks for the report @reopold! I'll take a look to it

[2020-11-07 18:38] #121 closed

[2020-11-07 18:39] vjgarciag96 commented on #121
Fixed in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/122 @reopold!

[2020-11-08 22:18] #113 closed

[2020-11-08 22:19] vjgarciag96 commented on #93
I'm going to release this now

[2020-11-08 22:26] vjgarciag96 commented on #95
@imorte:

Good question, I'm not sure if this is a really popular feature. I'd guess that it isn't, we only had a person requesting it (and that's all the data we currently have to know if people want it).

Anyways, it's in our plans to fully support the Telegram Bot API, so we should definitely work on this at some point. So, up to you, if you want to work on it I'll assign it to you and you can

[2020-11-08 23:05] vjgarciag96 commented on #93
Finally released https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/releases/tag/6.0.0!

Closing the issue

[2020-11-08 23:05] #93 closed

[2020-11-14 14:14] vjgarciag96 opened #124 "Revamp bot operations' return types"
### Problem
Nowadays, the execution result of an operation performed through the `Bot` class (e.g. `sendMessage`, `leaveChat`, `setChatAdministratorCustomTitle`, etc...) is represented by the type `Pair<Response<T?>?, Exception?>`.
https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/58d4db57842a4a0aa2a43b1c3a821d5e1aa431a0/telegram/src/main/kotlin/com/github/kotlintelegrambot/network/U

[2020-11-16 14:01] Defuera opened #125 "[Help wanted] Webhook setup"
Hi, I'm pretty sure everything working as expected, and I just missing something. Will appreciate help.

I'm trying to make my bot work with webhook, but do not get updates

What I've done.

1. In code setup webhook and start it
[code]

2. Run ngork on port 80
![image](https://user-images.githubusercontent.com/1181883/99260832-3519a300-281c-11eb-9ecc-55a97057d087.png)

3. I expect when I send mess

[2020-11-16 14:10] Defuera commented on #125
Ok, nevermind, I've figured I have to run a server to receive incoming connecitons 😆

[2020-11-25 15:36] joshuastorch opened #126 "new InlineKeyboardButton types don't work when using webhook"
**Expected behavior**
The inlineButtons command from the [example](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/master/samples/dispatcher/src/main/kotlin/com/github/kotlintelegrambot/dispatcher/Main.kt) should work with a [webhook setup ](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/master/samples/webhook/src/main/kotlin/com/github/kotlintelegrambot/webhook/Ma

[2020-11-26 04:32] netvl opened #127 "Customization and shutdown of updater's executor"
**Is your feature request related to a problem? Please describe.**

At the moment, the polling happens in a fixed-configuration thread pool:

[code]

This might not be a big issue for many applications, but in some cases it is very useful or even necessary to substitute or otherwise customize the underlying executor, for example, when the library is used as a part of bigger project with an already

[2020-11-28 12:48] vjgarciag96 commented on #126
That's a really nice report! Thank you so much for that @joshuastorch! I'll take a look to it 👍

[2020-11-28 13:07] vjgarciag96 commented on #127
Hey @netvl!

I totally agree with you, the current implementation using a non-customisable thread pool and not exposing an API to shutdown the threads is not the ideal thing to have.

Also, even when using web hooks the library creates an additional thread, so there is no way to avoid using the library executor nowadays.

I thought about all this but didn't have enough time to really materialise s

[2020-11-28 13:11] vjgarciag96 commented on #125
Is everything fine then?

Let me know so we can close the issue if there are no problems or doubts.

[2020-11-29 19:04] naftalmm opened #128 "Add overloads for String type of chat_id"
In order to interact with public channels via Bot API, `chat_id` should be a `String` (in the format `@channelusername`). Currently, only few methods have such overload variant (with `channelUsername` argument name for `chat_id`, which is a bit confusing on my taste, but still better than nothing):
- [x] sendMessage
- [ ] forwardMessage (need overloads for `chat_id` & `from_chat_id` parameters, so

[2020-12-04 19:12] Takshaksh opened #129 "Dependency is not resolving."
**Expected behavior**
Added it in the build.gradle
implementation 'com.github.seik.kotlin-telegram-bot:telegram:6.0.0'

It doesn't seem to be work properly.
Classes are not importing.

[2020-12-04 19:20] vjgarciag96 commented on #129
Hey @Takshaksh,

the package name changed and also the coordinates of the library. So now you should add the next to make it work:

[code]

[2020-12-04 19:26] vjgarciag96 commented on #125
Closing it, feel free to reopen it if you find additional problems

[2020-12-04 19:26] #125 closed

[2020-12-04 19:44] netvl commented on #127
Yes, that's pretty much what I would have expected of such a library, and this approach would give the most control to the user of the library (they will be able to choose both the thread where the primary logic of the bot runs, and they will be able to choose where the polling logic is executed).

[2020-12-05 22:24] popsa85 commented on #126
Same issue. Ubuntu 20.04. Java 11 and 14

[2020-12-06 14:25] #129 closed

[2020-12-06 14:26] #126 closed

[2020-12-06 14:32] vjgarciag96 commented on #126
This should be fixed now in 6.0.1 version. Let me know if it works as expected now @joshuastorch @popsa85.

[2020-12-06 15:31] joshuastorch commented on #126
Yes thank you, it is now working as expected!

[2020-12-06 17:06] vjgarciag96 commented on #128
Hi @naftalmm! Thanks for opening such a detailed issue. I totally agree with you, we should provide the version of those bot operations for channels too.

The reason to call the argument `channelUsername` is to avoid confusion and for clarity. A chat id and a channel username are different things, so calling a channel username `chatId` could be a bit annoying.  Also, if we call the channel usernam

[2020-12-08 14:34] seik opened #131 "[ci] Travis no longer giving credits for OSS"
Title. Travis is no longer giving free runtime for OSS. We should migrate to another service and I was thinking in Github Actions.

I'm open to hear any other option.

[2020-12-08 19:17] mmokeev opened #132 "No way to send single media"
There is no way to send single media - always will get exception `media groups must include 2-10 items`.
Even the usage examples contain an incorrect example under `command ("mediaGroup")`. Maybe there is some workaround?

[2020-12-08 20:08] vjgarciag96 commented on #132
Hey @mmokeev!

What type of media do you want to send?

The `sendMediaGroup` operation is meant to be used to send media groups, which by definition are composed by two or more media elements.

If you want to send single items you'll have to find the proper operation for it. For example, to send a photo, you'll need to use the `sendPhoto` operation; to send a sticker, you'll need to use the `sendS

[2020-12-08 20:18] vjgarciag96 commented on #131
Oh... 😢

Github Actions sounds good to me 👍🏻. But I'm also open to hear about other options offering free infrastructure for open source repos if someone else wants to propose an alternative (I'll also investigate a bit more about the different options and its pros and cons when I have some time).

[2020-12-08 20:36] mmokeev commented on #132
Thanks for advice! I have used the above methods successfully :)

[2020-12-08 22:49] red-avtovo commented on #131
Github Actions also sounds good to me. What about CircleCi as an alternative?

[2020-12-09 21:18] #132 closed

[2020-12-11 20:42] vjgarciag96 commented on #131
I made a quick migration to Github Actions to not block PRs due to this.

The set up was really straightforward, it's running properly (we've the same we had before with Travis) and it's integrated with Gihub, so in the *Actions* tab you can check the workflows we've run (https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/actions?query=branch%3Amaster).

I also created a sample PR making a

[2020-12-15 09:29] seik commented on #131
Seems good to me @vjgarciag96 @red-avtovo !

Closing this and the test PR.

[2020-12-15 09:29] #131 closed

[2021-01-12 16:49] sinadarvi opened #140 "Getting into a loop"
**Expected behavior**
there is a `message` block inside the `callbackQuery(A)`. inside that `message` block we ask yes or no question with `InlineKeyboardButton`. for example, if the user chooses yes, it will go to `callbackQuery(B)`. but if chooses no, `callbackQuery(A)` will be called again.

**Actual behavior**
The problem starts when the user chooses no for the first time. after going throw al

[2021-01-12 19:46] vjgarciag96 commented on #140
@sinadarvi:

From what I can see in that code snippet, the `message` block should be outside of the `callbackQuery` block. Otherwise, every time the code within the `callbackQuery` block is called a new message handler will be added to the bot and that will cause processing a message several times

[2021-01-12 19:58] sinadarvi commented on #140
@vjgarciag96

So how can I handle a message inside the `callbackQuery`? I tried to use normal `bot.sendMessage()` and fold the result. but no matter what the user responded or not the response block will be executed!

[code]

how can I achieve this?

[2021-01-14 00:24] v1ctor opened #141 "Message handlers priorities and short circuiting"
Hi all,
I'm currently working on a bot which should support multiple session-based commands. I have my message handlers organized in this way:
[code]
The idea is that command handlers will create a new session while catch-all text and callback query handlers will forward update to the proper session.

The problem is that I have to filter out all the messages which start with / from text handler ot

[2021-01-14 00:26] v1ctor commented on #141
@seik  please reassign it back to me if you're happy for me to do it.

[2021-01-15 22:54] sinadarvi commented on #140
so, after some testing, I found out(maybe I'm wrong) `response` is not the User response message to the bot request. so in order to handle this situation, you should use `message` DSL. but as @vjgarciag96 told, by doing that, you will add it as a handler every time you enter the `callbackQuery`.

So I just Manually rewrite `MessageHandler` and every time I enter the `callbackQuery`, I check if the

[2021-01-15 23:00] vjgarciag96 commented on #140
@sinadarvi sorry for the delays in the response 🙏🏻, but I didn't have time to check it.

I'll try to take a look to it tomorrow and see what's going on.

[2021-01-16 19:34] vjgarciag96 commented on #140
I'm not really sure of what you want to achieve.

I'm supposing that you want to show an inline keyboard to the user and send a message back depending on the button pressed by the user in that inline keyboard? Or what's exactly what you're trying to achieve?

If it's what I'm supposing, wouldn't a snippet like the next work?

[code]

[2021-01-16 19:46] vjgarciag96 commented on #141
Hi @v1ctor!

To filter out command messages you can also use the `message` handler with a `Text` filter instead of the `text` one:

[code]

The idea sounds really interesting to me, happy for you to work on it! You can assign me as reviewer once the PR is ready for review 🙂

[2021-01-16 19:51] sinadarvi commented on #140
maybe I wasn't able to demonstrate the scenario. imagine this:
You start the bot, then the bot asks you "how can I help you?" with a bunch of inline buttons. for example, you choose "complete my order".then the bot will ask your order id. you enter your order id. then the bot will tell you "your order id is XXXXXXX, is it right?" with two inline keyboard Buttons (yes|no). if you select no, the bot

[2021-01-16 20:06] vjgarciag96 commented on #140
Oh, got it. What about the next then?

[code]

[2021-01-16 21:35] sinadarvi commented on #140
@vjgarciag96 the problem is that you still don't ask the User for the order id! how about, you ask for the order id inside `CompleteOrder` so after the user entered an order id, the bot tells "Is your order id XXXXX?" with inline keyboard markup?

[2021-01-16 22:57] vjgarciag96 commented on #140
So... I guess you can implement that in several different ways. Would the next snippet do what you want to achieve (I guess you can just filter out things in the `message` handler when you are not interested on them):

[code]

[2021-01-17 08:15] sinadarvi commented on #140
that was interesting! I didn't think of this simple way of handling it. I was thinking of handling it in a chaining model way. but this will do it too! thanks.

closing this issue.

[2021-01-17 08:15] #140 closed

[2021-01-25 17:57] LivingWithHippos opened #143 "Restricting command to users"
Hello, I like to restrict commands/the whole bot to a user. I've read the various issues and examples but I can't find how to do it. What I found out:

- Filter.User(user id) should be the right filter
- command accept a handleCommand but I don't know how to implement it
- I could just do a  if (this.message.from!!.id==123L) but hey, we have filters

I'm on 6.0.2

[2021-01-25 18:32] vjgarciag96 commented on #143
Unfortunately there's no built-in way to restrict the whole bot for a user, but we can do that at the level of message handlers by using filters.

If I understood what you want to achieve properly, let's suppose that you want to restrict a user with id 123 from executing any command.

We could achieve that by using the next:

[code]

Is that what you are looking for? @LivingWithHippos

[2021-01-25 20:46] LivingWithHippos commented on #143
Almost, I want to let the user lock down my bot optionally to be used by a single user.  Also, if a whitelisted user id is not added, I want the bot to accept commands for everyone. Following your tip I wrote this:

[code]

And while the permission part works, the commands are executed as if they were repeated multiple times -> if I write /help once it throws a message, the second time it works tw

[2021-01-25 22:55] vjgarciag96 commented on #143
If you nest a message handler within a command handler, every time the command block is executed a new message handler will be added and therefore the message block will be executed n times - that's expected.

We should probably add a filter to the library to filter messages by command text (looks like it will be handy). In the meantime, there are several alternatives to achieve that. For example,

[2021-01-26 09:52] LivingWithHippos commented on #143
Yes this way it's working thanks. A couple of notes:

-  since message has no args variable I just copied the regex to get the arguments from `CommandHandleCommandHandlerEnvironmentProxy` -> `val args = message.text?.split("\\s+".toRegex())?.drop(1) ?: emptyList()` to get them

- text?.startsWith("/download") will also trigger commands such as /downloadList. We can use other checks for example wit

[2021-01-26 09:52] #143 closed

[2021-01-29 21:18] XDracam opened #144 "Support `sendMessage(..., parseMode = "MarkdownV2")`"
**Expected behavior**

When calling `bot.sendMessage(..., parseMode = "MarkdownV2")`, the message should be formatted according to the telegram api documentation: https://core.telegram.org/bots/api#markdownv2-style

**Actual behavior**

The request probably gets sent, but a reply never arrives and the `CompleteableFuture` never completes

**To Reproduce**

[code]

The post-request never receives a

[2021-01-30 12:24] vjgarciag96 commented on #144
Hi @XDracam!

Are you sure this is the telegram bot api library you are using?

The `To Reproduce` snippet looks like from a different library.

[2021-01-30 14:44] vjgarciag96 opened #145 "Bowling animation for the random dice"
There's support for a new animation for the random dice.

This time it's the bowling emoji https://emojipedia.org/bowling/.

It would be basically doing the same we did in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/119/files, but for the bowling emoji.

[2021-01-30 16:02] ShrillShrestha commented on #145
Hi @vjgarciag96, I am currently learning to contribute to open source. I feel like this is a good issue to work with. I would like to try it. So, this issue deals with working on the same files that were in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/119/files doing the same changes. Am I right?

[2021-01-30 16:19] vjgarciag96 commented on #145
Hi @ShrillShrestha!

I'm happy for you to work on the issue 🙂. Yes, you're right, it's about working on the same files that were in that PR doing the same changes but to add a different emoji in this case.

Let me know if you need help with anything!

[2021-01-30 16:28] ShrillShrestha commented on #145
Thanks, @vjgarciag96. I will work on this. If there are any questions, I will let you know. :)

[2021-01-30 18:22] vjgarciag96 opened #146 "Add logOut method"
A new `logOut` method was added in Telegram Bot Api 5.0:

 https://core.telegram.org/bots/api#logout

We should add support for this method.

[2021-01-30 18:26] vjgarciag96 opened #147 "Add close method"
A new `close` method was added in Telegram Bot Api 5.0:

https://core.telegram.org/bots/api#close

We should add support for this method.

[2021-01-30 18:30] vjgarciag96 opened #148 "Add ip_address to setWebhook method and WebhookInfo class"
In Telegram Bot Api 5.0:

* A new parameter `ip_address` was added to the `setWebhook` method.

* A new field `ip_address` was added to the `WebhookInfo` class.

https://core.telegram.org/bots/api#setwebhook
https://core.telegram.org/bots/api#webhookinfo

We should add support for them.

[2021-01-30 18:33] vjgarciag96 opened #149 "Add drop_pending_updates to (set|delete)Webhook methods"
A new `drop_pending_updates` parameter was added to the `setWebhook` and `deleteWebhooks` methods in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#setwebhook
https://core.telegram.org/bots/api#deletewebhook

We should add support for this new parameter

[2021-01-30 18:39] vjgarciag96 opened #150 "Add linked_chat_id and location to Chat"
In Telegram Bot Api 5.0, two new fields `linked_chat_id` and `location` were added to the `Chat` class.

https://core.telegram.org/bots/api#chat

We should add support for these new fields.

[2021-01-30 18:41] vjgarciag96 opened #151 "Add only_if_banned to unbanChatMembers"
A new parameter `only_if_banned` was added to the `unbanChatMembers` method in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#unbanchatmember

We should add support for this new parameter.

[2021-01-30 18:43] vjgarciag96 opened #152 "Add file_name to Audio and Video"
A new field `file_name` was added to `Audio` and `Video` classes in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#audio
https://core.telegram.org/bots/api#video

We should add support for this new field.

[2021-01-30 18:46] vjgarciag96 opened #153 "Add disable_content_type_detection to sendDocument and InputMediaDocument"
In Telegram Bot Api 5.0, a new parameter `disable_content_type_detection` was added to the `sendDocument` method and a new field `disable_content_type_detection` was added to the `InputMediaDocument` class.

https://core.telegram.org/bots/api#senddocument
https://core.telegram.org/bots/api#inputmediadocument

We should add support for the new parameter and field.

[2021-01-30 18:49] vjgarciag96 opened #154 "Add message_id to unpinChatMessage"
A new parameter `message_id` was added to the `unpinChatMessage` method in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#unpinchatmessage

We should add support for this new parameter.

[2021-01-30 18:51] vjgarciag96 opened #155 "Add unpinAllChatMessages method"
A new method `unpinAllChatMessages` was added in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#unpinallchatmessages

We should add support for this new method.

[2021-01-30 18:54] vjgarciag96 opened #156 "Add support for sending and receiving audio and document albums"
In Telegram Bot Api 5.0, support for sending and receiving audio and document albums was added.

https://core.telegram.org/bots/api#sendmediagroup

We should also support this in the library.

[2021-01-30 19:01] vjgarciag96 opened #157 "Add live_period to Location"
A new field `live_period` was added to the `Location` class in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#location

We should add support for this new field.

[2021-01-30 19:05] vjgarciag96 opened #158 "Add support for live location heading"
In Telegram Bot Api 5.0, support for live location [heading](https://en.wikipedia.org/wiki/Heading_(navigation)) was added:

* Added field `heading` to `Location`, `InlineQueryResultLocation` and `InputLocationMessageContent`.
* Added parameter `heading` to the methods `sendLocation` and `editMessageLiveLocation`.

https://core.telegram.org/bots/api#location
https://core.telegram.org/bots/api#inli

[2021-01-30 20:03] vjgarciag96 opened #159 "Add support for proximity alerts in live locations"
In Telegram Bot Api 5.0, support for proximity alerts in live locations was added:

* Added the field `proximity_alert_radius` to the classes `Location`, `InlineQueryResultLocation` and `InputLocationMessageContent`.
* Added the parameter `proximity_alert_radius` to the methods `sendLocation` and `editMessageLiveLocation`.
* Added the type `ProximityAlertTriggered` and the filed `proximity_alert_t

[2021-01-30 20:11] vjgarciag96 opened #160 "Add possibility to specify the horizontal accuracy of a location"
In Telegram Bot Api 5.0, support to specify the horizontal accuracy of a location was added:

* Added the field `horizontal_accuracy` to the classes `Location`, `InlineQueryResulLocation` and `InputLocationMessageContent`.
* Added the parameter `horizontal_accuracy` to the methods `sendLocation` and `editMessageLiveLocation`.

https://core.telegram.org/bots/api#location
https://core.telegram.org/b

[2021-01-30 20:18] vjgarciag96 opened #161 "Add sender_chat to Message"
A new field `sender_chat` was added to the `Message` class in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#message

We should add this new field.

[2021-01-30 20:21] vjgarciag96 opened #162 "Add is_anonymous to ChatMember and promoteChatMember"
In Telegram Bot Api 5.0, a new field `is_anonymous` was added to the `ChatMember` class and a new parameter `is_anonymous` was added to the `promoteChatMember` method.

https://core.telegram.org/bots/api#chatmember
https://core.telegram.org/bots/api#promotechatmember

We should add support for the new field and parameter.

[2021-01-30 21:38] XDracam commented on #144
Oh boy, you are right. This is awkward 😅. Had both tabs still open. I'm terribly sorry. Thanks for providing an alternative and keep up the good open-source work!

[2021-01-30 21:38] #144 closed

[2021-01-30 22:41] vjgarciag96 opened #163 "Add author_signature to Message"
A new field `author_signature` was added to `Message` class in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#message

We should add this new field.

[2021-01-30 22:45] vjgarciag96 opened #164 "Add copyMessage method"
A new `copyMessage` method was added in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#copymessage

We should add this new method.

[2021-01-30 22:57] vjgarciag96 opened #165 "Add the ability to specify text entities in tons of classes and methods"
In Telegram Bot Api 5.0, the ability to manually specify text entities instead of specifying the `parse_mode` was added to:

* InputMediaPhoto, InputMediaVideo, InputMediaAnimation, InputMediaAudio, InputMediaDocument, InlineQueryResultPhoto, InlineQueryResultGif, InlineQueryResultMpeg4Gif, InlineQueryResultVideo, InlineQueryResultAudio, InlineQueryResultVoice, InlineQueryResultDocument, InlineQue

[2021-01-30 23:02] vjgarciag96 opened #166 "Add google_place_id and google_place_type to several classes and methods"
The fields `google_place_id` and `google_place_type` were added to the classes `Venue`, `InlineQueryResultVenue` and `InputVenueMessageContent` and the optional parameters `google_place_id` and `google_place_type` were added to the method `sendVenue` in Telegram Bot Api 5.0.

https://core.telegram.org/bots/api#venue
https://core.telegram.org/bots/api#inlinequeryresultvenue
https://core.telegram.or

[2021-01-30 23:14] vjgarciag96 opened #167 "Add allow_sending_without_reply to several methods"
A new `allow_sending_without_replay` parameter was added to the methods sendMessage, sendPhoto, sendVideo, sendAnimation, sendAudio, sendDocument, sendSticker, sendVideoNote, sendVoice, sendLocation, sendVenue, sendContact, sendPoll, sendDice, sendInvoice, sendGame and sendMediaGroup in Telegram Bot Api 5.0.

We should add this new parameter to all those methods.

[2021-01-30 23:15] vjgarciag96 opened #168 "Telegram Bot Api 5.0"
There is a new Bot API version with tons of new features and changes 🥳 .

The next list includes the changes we would need to implement to fully support this new version.

**Run your own bot api server**
- [ ] `logOut` method https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/issues/146
- [ ] `close` method https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/issues/147

**Webhooks**

[2021-01-31 11:06] #145 closed

[2021-01-31 17:06] Flame239 commented on #164
Let me take this one

[2021-01-31 20:27] Flame239 commented on #128
Hey 👋
[In this branch](https://github.com/Flame239/kotlin-telegram-bot/compare/master...Flame239:copy-message-new-api) you will find my idea how to implement this.
TL;DR:  there is brand new `ChatId` class which encapsulates either chatId or channel username and we can use it like
[code]

Reasoning:
Copy pasting almost identical pieces of code (and doing this 4 times for a lot of methods) is just

[2021-01-31 21:48] vjgarciag96 commented on #128
Hi @Flame239!

It looks good to me overall, I'm happy to go with that approach. If you open a PR with the changes I can leave my feedback in there 🙂

Cheers!

[2021-01-31 22:11] Flame239 commented on #128
@vjgarciag96 please check this pr: https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/170/files

[2021-01-31 22:30] Flame239 commented on #164
@vjgarciag96  [please check this pr ](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/170/files)

[2021-02-01 22:23] vjgarciag96 commented on #164
Closed by #170

[2021-02-01 22:23] #164 closed

[2021-02-05 10:37] Partizanin commented on #40
Finally i found solution how to deploy it to heroku.
Here example of main files

### build.gradle.kts
[code]

### Procfile
[code]

[2021-02-05 23:00] vjgarciag96 commented on #155
Closed by https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/173

[2021-02-05 23:00] #155 closed

[2021-02-05 23:00] vjgarciag96 commented on #154
Closed by https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/173

[2021-02-05 23:00] #154 closed

[2021-02-06 21:42] vjgarciag96 commented on #161
Closed by https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/175

[2021-02-06 21:42] #161 closed

[2021-02-06 21:42] vjgarciag96 commented on #162
Closed by https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/175

[2021-02-06 21:42] #162 closed

[2021-02-06 21:43] vjgarciag96 commented on #163
Closed by https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/175

[2021-02-06 21:43] #163 closed

[2021-02-08 22:38] Flame239 commented on #128
Closed in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/172

[2021-02-08 22:38] #128 closed

[2021-02-14 18:42] dmitvitalii opened #176 "No ChatId object in entities"
**Expected behavior**
Expected ChatId object in com.github.kotlintelegrambot.entities.

**Actual behavior**
There's no such object in a library from jetpack

**To Reproduce**
Add
[code]
And use an example from README.md
[code]

**Screenshots/Traceback**
<img width="852" alt="Screenshot 2021-02-14 at 21 36 44" src="https://user-images.githubusercontent.com/14320898/107885702-e52aa500-6f0c-11eb-9299

[2021-02-14 20:39] vjgarciag96 commented on #176
Oh true, that's my bad!

We updated the documentation for the new `ChatId` class but we hadn't published a new version of the library including that class.

I just released the 6.0.3 version and you should be able to find it there.

Let me know if you find any problem.

Cheers!

[2021-02-14 21:23] dmitvitalii commented on #176
Hi, @vjgarciag96 , found it, thank you!

[2021-02-14 21:32] #176 closed

[2021-02-14 22:39] vjgarciag96 commented on #156
Closed by #177

[2021-02-14 22:39] #156 closed

[2021-02-14 23:28] vjgarciag96 commented on #150
Closed by #178

[2021-02-14 23:28] #150 closed

[2021-02-19 18:40] vjgarciag96 commented on #152
Closed by #179

[2021-02-19 18:40] #152 closed

[2021-02-21 16:38] MyMindWorld opened #182 "Bot stops handling commands after IllegalAccessError"
**Expected behavior**
When any exception is thrown inside handler bot shoud handle comands afterwards

**Actual behavior**
When Illegal AccessError is thrown - bot stops responding

**To Reproduce**
[code]

**Possible solutions**
Wrap handler to catch generic exception

[2021-02-22 21:54] vjgarciag96 commented on #182
Hi @MyMindWorld!

The problem with `IllegalAccessError` is that it's not an `Exception`, it's an `Error` and we are not catching them.

I don't have a strong opinion about whether we should be also catching errors and not. It would be convenient to keep the bot running if an error is thrown, but I don't know if that could lead to a weird state in which the program caught an error but is not able t

[2021-02-22 22:45] vjgarciag96 commented on #182
It should be fixed in version 6.0.4 - let me know if you find any problem.

And thanks for the report!

[2021-02-22 22:45] #182 closed

[2021-02-22 23:44] MyMindWorld commented on #182
Many thanks for quick response and explanation!

[2021-02-25 21:41] vjgarciag96 commented on #151
Closed by #184

[2021-02-25 21:41] #151 closed

[2021-02-27 21:49] vjgarciag96 commented on #146
Closed by #185

[2021-02-27 21:49] #146 closed

[2021-02-28 15:18] vjgarciag96 opened #187 "Add sendGame method"
This method hasn't been added to the library yet.

https://core.telegram.org/bots/api#sendgame

[2021-02-28 15:43] vjgarciag96 opened #188 "Add allow_sending_without_reply to sendMediaGroup"
This new parameter was added in Telegram Bot Api v5.0.

https://core.telegram.org/bots/api#sendmediagroup

[2021-02-28 18:00] vjgarciag96 commented on #167
Mostly done in #186.

There are a couple of remaining tasks related to it, they're documented in #187 and #188.

[2021-02-28 18:00] #167 closed

[2021-03-06 21:10] vjgarciag96 commented on #187
Closed by #192

[2021-03-06 21:10] #187 closed

[2021-03-12 08:45] vp-mazekine opened #199 "Option to smart escape reserved Telegram characters when sending message to bot"
# Context
I use Java localization to prepare strings from templates in a resource bundle. However, when sending the message it may be declined by Telegram due to unescaped [reserved characters](https://core.telegram.org/bots/api#markdownv2-style), e.g.:

[code]

Some characters may be escaped at the bundle level, so it's not a big deal. But when it comes to decimal points depending on the locale,

[2021-03-23 08:50] findusl opened #201 "Don't ship samples with the library"
**Expected behavior**
The library is shipped without the samples.

**Actual behavior**
The library includes the samples. Specifically that came up when I tried to include Ktor in my project, because I had a problem with the webhook sample: https://stackoverflow.com/questions/66727488/ktor-client-nosuchmethoderror

**Possible solutions**
I'm not well versed with gradle, I assume you'd have to mark

[2021-04-17 00:20] kokorins opened #204 "Failed to send message with parseMode markdown_v2 and additiona reply markup InlineKeyboardMarkup..."
**Expected behavior**
Markdown V2 text with buttons

**Actual behavior**
I got `com.github.kotlintelegrambot.network.ResponseError@68125bf1` with null exception.

**To Reproduce**
[code]

**Screenshots/Traceback**
no traceback as exception is null

**Possible solutions**
?

**Additional context**
works with ParseMode.markdown (though some features (eg headers) are not properly rendered).

[2021-05-13 22:14] erickalfaro opened #205 "Cannot import github"
I'm a kotlin/android studio newb. I've messed with the telegram API in python but have never touched Kotlin. I was hoping to create an android app that can receive incoming telegram messages. I'm simply not able to import the telegram package into my MainActivity.java.

What stupid mistake am I making?

![image](https://user-images.githubusercontent.com/8908857/118194265-19800580-b417-11eb-9e4d-ab

[2021-05-14 23:19] #205 closed

[2021-05-25 15:57] f-nyx opened #207 "Artifact io.github.kotlin-telegram-bot.kotlin-telegram-bot:webhook:6.0.4 is missing in Jitpack"
In case you didn't note, the JAR for the artifact `io.github.kotlin-telegram-bot.kotlin-telegram-bot:webhook:6.0.4` is missing in Jitpack.

[2021-06-08 14:34] naftalmm opened #208 "Unify all Bot API related to sending files (use TelegramFile type everythere)"
**Is your feature request related to a problem? Please describe.**
`TelegramFile` type encapsulates the way of [sending files](https://core.telegram.org/bots/api#sending-files): via file_id/URL or actual file uploading.
Currently this class is used for creating other objects, passed as parameters into `editMessageMedia` and `sendMediaGroup` API methods.
All other methods related to sending files h

[2021-06-17 13:19] dhalucario opened #209 "Kotlin Native Support"
Does this library support Kotlin Native?

[2021-06-18 13:14] naftalmm commented on #209
Nope, it's not a multiplatform project. It heavily relies on JVM stdlib and other java libraries

[2021-06-18 18:24] dhalucario commented on #209
I don't know if the answer in this issue is enough, but you might want to add this to the readme file. But since my question is answered I will close this issue. Thank you.

[2021-06-18 18:24] #209 closed

[2021-06-23 13:48] moobid opened #211 "Commands are not received after about 1 hour of running my telegram bot"
**Expected behavior**
Commands that the user sends are received reliably in the telegram bot

**Actual behavior**
After about 1 hour of run time of my telegram bot newly sent commands dont "arrive" in the application. In the time from start up until about 1 hour the commands "arrive" reliably.
After a restart of my telegram bot the stuck commands are processed directly at startup.
Also, the bot se

[2021-07-01 06:58] aivel commented on #211
Hi there!

I am having the same issue
I use long polling for updates retrieval

@moobid are you using long polling as well or this problem is also reproducible with webhooks?

[2021-07-01 07:33] moobid commented on #211
Hi @aivel,
I am also using polling.
The issue still persists. Currently I am running my application on my raspberry pi and scheduled the application to restart every 30minutes to prevent this issue. But this is quite annoying...
Help or ideas are much appreciated

[2021-07-04 21:36] fuccsoc opened #212 "Access to low-level API requests"
**Is your feature request related to a problem? Please describe.**
Yes. I want to realize updates-skip ability.

**Describe the solution you'd like**
I want val apiClient to be public

**Describe alternatives you've considered**
null

**Implementation ideas**
Remove `private` modificator at [this](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/d929c790323e64349400fc625b1a45d21854d

[2021-07-06 15:46] ivanantipin commented on #211
same here, i see that 2 threads dies when it happens ( suppose some unhandled exception)

"OkHttp api.telegram.org" #36 prio=5 os_prio=0 cpu=166.03ms elapsed=1148.08s tid=0x00007f44bc2fa000 nid=0x36 runnable  [0x00007f4498af5000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.Net.poll(java.base@13.0.2/Native Method)
	at sun.nio.ch.NioSocketImpl.park(java.base@13.0.2/NioSocketImpl.java:182)
	at

[2021-07-08 07:46] ForegroundGravity commented on #211
I have a similar issue. my bot **stops** sending GET requests after some time. but POST requests continue to work

and I cannot find any exception in the logs. tried everything already :(

[2021-07-08 17:21] PicoPocoo commented on #211
same Issue here, did anyone find a workaround? Periodically restarting the bot?

[2021-07-08 17:28] moobid commented on #211
I am periodically (every 30min) restarting my application. But this is annoying

[2021-07-11 07:58] ForegroundGravity commented on #211
As a workaround, I tried to set a timer inside my bot to restart polling every hour. I stop polling and then start it again in a minute. It helps to limit downtime within one hour. But still the polling can stuck even after several minutes after start :(

I've been using this wrapper almost for a year now, but started to experience this bug only recently.

@seik , @vjgarciag96 Dear Sirs, could you

[2021-07-11 14:36] vjgarciag96 commented on #211
There's an option to see any exceptions happening in the execution of commands, by adding the next line in the bot set up:

[code]

There's some doc here with more details about logging https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/main/docs/logging.md

At the moment, the info we have is:

* It happens, at least, from v6.0.0, as @ForegroundGravity reported.
* The thread dump of t

[2021-07-16 03:28] ivanantipin commented on #211
apparently okhttp threads dies silently - because i do not see any errors in unhandled exceptions handler registered for jvm

[2021-07-20 19:56] moobid commented on #211
I am using 6.0.4.
I was using this bot from the start of June. The issue first occured to me mid June.
My configuration is quite simple:
`
[...]
override val bot = bot {
        token = "<mytoken>"
        timeout = 20
        logLevel = LogLevel.Error

        dispatch {
            command("continue") {
                 [...]
            }
            [... about 8 more commands ...]
       }

[2021-08-05 15:22] zhtaihao opened #213 "editMessageMedia does not function"
**Expected behavior**
[editMessageMedia](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/main/telegram/src/main/kotlin/com/github/kotlintelegrambot/Bot.kt#L1220) edits the media of a message. The user sees this change immediately.

**Actual behavior**
Nothing happens.

**To Reproduce**
Call the method linked above and provide a bot-unique file ID.

**Screenshots/Traceback**

**Poss

[2021-08-05 15:23] zhtaihao commented on #213
We haven't migrated to version 6.0.4 yet. This bug is observed in 6.0.2.

[2021-08-06 20:29] rastiehaiev commented on #213
I face the same problem. When I try to edit message media, Telegram returns 400 with error
`{"ok":false,"error_code":400,"description":"Bad Request: can't parse input media JSON object"}`. I looked at the code and everything seems to be fine.

[2021-08-06 21:00] rastiehaiev commented on #213
I prepared PR with a fix. #215
@seik Please review, I really need this fix for my bot.

[2021-08-07 07:10] zhtaihao commented on #213
@rastiehaiev You may be interested in #214, which also fixes this problem, in a different way than you did. I am currently using that approach and it is working well.

[2021-08-07 07:24] rastiehaiev commented on #213
@zhtaihao yeah, I saw it but decided to provide another approach. Approach I used is already currently used in the project, so I did the same (just converted media payload to JSON and store it as a string field). Hope new version will arrive with any of ours fixes so I can use it in my project 🙏.

[2021-08-07 17:00] nick-dolgiy opened #216 "`processUpdate()` doesn't work if webhook is not started"
**Expected behavior**

When I call `processUpdate()` without `startPolling()` or `startWebhook()` I expect that the bot will process the passed update according to configured handlers.

**Actual behavior**

When I call`processUpdate()` without `startPolling()` or `startWebhook()` nothing happens. Bot doesn't invoke any handlers.

**To Reproduce**

1) Create a new telegram bot.
2) Configure the cod

[2021-08-08 20:08] rastiehaiev commented on #213
@zhtaihao my approach doesn't work. Declining PR...

[2021-08-10 20:42] madsunrise commented on #211
I have the same issue (Spring + Tomcat), bot just stops sending GET-requests to api.telegram.org after a while. Version 6.0.4.

[2021-08-11 12:43] Lood commented on #211
I replaced the retrofit and converter-gson to newer versions.
[code]
After that, the bot works for a week without failures.

[2021-08-13 14:50] moobid commented on #211
@Lood, thanks for sharing. Can confirm that it works: my telegram bot now runs for 1:50 h and still responds to commands.

[2021-08-14 12:23] vjgarciag96 commented on #211
Nice one @Lood! I'll bump the library versions and publish a new library artifact with the update 👍🏻

[2021-08-14 12:51] vjgarciag96 commented on #211
A new version of the library (6.0.5) has been published with the change proposed by @Lood included in it. @moobid @Lood @madsunrise @ivanantipin @ForegroundGravity @PicoPocoo @aivel please let me know if you can still reproduce the issue with this new version.

[2021-08-23 11:28] ForegroundGravity commented on #211
Seems to work fine now. Thank you all, guys!

[2021-09-19 11:24] madsunrise commented on #211
Confirmed one week of continuous work without any problems. @vjgarciag96, @Lood appreciate.

[2021-10-03 15:45] vjgarciag96 commented on #188
Closed by #202

[2021-10-03 15:45] #188 closed

[2021-10-03 15:51] vjgarciag96 commented on #148
Closed by #206

[2021-10-03 15:51] #148 closed

[2021-10-03 16:42] vjgarciag96 opened #219 "Add thumb and captionEntities to sendDocument"
We are missing a couple of parameters in the `sendDocument` API operation, `thumb` and `caption_entities`

https://core.telegram.org/bots/api#senddocument

[2021-10-03 16:45] vjgarciag96 commented on #153
Closed by #203

[2021-10-03 16:45] #153 closed

[2021-10-04 22:58] vjgarciag96 opened #221 "ByteArray files support on sendMediaGroup"
We don't support sending files as `ByteArray`s in the `sendMediaGroup` operation. We should add support for that.

A good point to start looking into this is https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/1773290206d217999c73a88bbeec824ba591b50f/telegram/src/main/kotlin/com/github/kotlintelegrambot/network/multipart/MultipartBodyFactory.kt.

[2021-10-10 20:23] zhtaihao commented on #213
This has been fixed in https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/pull/214 @trupizzza

Closing this issue now.

[2021-10-10 20:37] trupizzza commented on #213
Thanks, I saw this one is merged. May I kindly ask when to wait for new release?

[2021-10-10 21:04] zhtaihao commented on #213
Unfortunately I don't work on this project myself. Perhaps @vjgarciag96 can provide insight?

[2021-10-10 22:23] vjgarciag96 commented on #213
@trupizzza @zhtaihao I just published a new version of the library (v6.0.6) including the fix. It should be available now. Let me know if you are still able to reproduce the issue reported here.

[2021-10-11 06:26] trupizzza commented on #213
@vjgarciag96 Thanks for quick fix!
Seems like now (6.0.6) it's not giving the error mentioned before.
Is it ok, that I still cannot add photo to message using this method?

I'm trying to update just-message-with-text-and-inline-keyboard by adding a photo to it, is it possible?
Trying to update text message by editMessageMedia with Photo as InputMedia, I've got following error:

`{"ok":false,"error

[2021-10-19 09:09] trupizzza opened #226 "Cannot update photo using local file and editMessageMedia"
**Expected behavior**
I can replace existing message photo (sent by **sendPhoto**, using **URL** as path to media) with new photo from **local source** by using **editMessageMedia** function.

**Actual behavior**
I can add photo from local source using **sendPhoto** function.
Hovewer, when I try to reaplce photo using **editMessageMedia** function, I've got following error message:

The same funct

[2021-10-19 12:50] IgorVerkh opened #227 "Commands unrecognized"
**Expected behavior**

"/command\ntext" as message.text=="/command\ntext"

**Actual behavior**

"/command\nanything" cases are being ignored as commands. Seems like line breaker also tricks CommandHandler

**To Reproduce**

Replace whitespace after a command with a line breaker and add anything. Bot wouldn't see the command

**Screenshots/Traceback**

![image](https://user-images.githubusercontent

[2021-11-14 20:59] Galads commented on #226
bot.editMessageMedia(
                        chatId = update.message?.chat?.id,
                        messageId = saveMsg,
                        media = inputPhoto,
                        replyMarkup = InlineKeyboardMarkup(listOf(listInlineButtons))
                    )

Such a case also does not work for me, it gives the same error(

[2021-12-08 06:49] TomySmit opened #238 "Don't send InputMediaDocument in MediaGroup"
Don't send InputMediaDocument in MediaGroup.

A good point to start looking into this is https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/blob/1773290206d217999c73a88bbeec824ba591b50f/telegram/src/main/kotlin/com/github/kotlintelegrambot/network/multipart/MultipartBodyFactory.kt.

[2021-12-25 17:38] xahon commented on #155
Why doesn't this method work for bot's private chat?
I wanted to make a bot that is able to unpin all messages and pin a single one to create a text-game bot, that'll update that message to reflect the game status when game state changes somehow

[2021-12-29 17:09] abdulazizumarovich opened #240 "Didn't find method for ChosenInlineResult"
**Expected behavior**
When inline query items got clicked I need to know which item is clicked

**Actual behavior**
There isn't any method for it

[2022-01-01 14:18] shiina-xi-yu commented on #240
Maybe you could have a try our PR #237 =w=

[2022-02-28 20:09] r8vnhill commented on #5
I'm currently migrating a bot from python-telegram-bot to kotlin, I'll try to collaborate with this while I'm on that

[2022-04-14 13:00] tim4dev commented on #106
I needed to do something similar.
I implemented the Delegate pattern (to hold the bot reference and the state holder) and the State Machine design pattern.
I completed the task.

[2022-04-15 13:47] tim4dev opened #241 "edited_message not handled"
**Expected behavior**
edited_message must be handled.

**Actual behavior**
edited_message not handled.

**To Reproduce**
just edit an existing message.
dispatch { message {} } won't work.

**Fast solution**

[Added_handling_edited_message_patch.txt](https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/files/8496230/Added_handling_edited_message_patch.txt)

[2022-04-17 07:29] tim4dev opened #242 "MessageEntity.Type "spoiler" not handled"
MessageEntity.Type "spoiler" not handled, not known.

**Fast solution**

Add line in `com.github.kotlintelegrambot.entities.MessageEntity`

[code]

[2022-04-24 16:01] tim4dev opened #244 "CallbackQueryHandler has incorrect filter (imho)"
In my opinion, the filter should not be like this, it reacts to many matches.

`com.github.kotlintelegrambot.dispatcher.handlers.CallbackQueryHandler#checkUpdate`

[code]

I fixed it with the following:

[code]

[2022-06-22 08:51] poma0102 opened #249 "there is a function skip_updates()?"
there is a function skip_updates()?
if yes, how to call it?

[2022-07-02 19:47] seik commented on #157
Fixed in #246. Thanks!

[2022-07-02 19:47] #157 closed

[2022-07-02 19:52] seik commented on #166
Fixed in #234

[2022-07-02 19:52] #166 closed

[2022-07-09 01:00] DJsushi opened #251 "Unable to launch coroutines inside of the dispatch block"
**Expected behavior**
Coroutine should launch.

**Actual behavior**
Coroutine doesn't launch.

**To Reproduce**
Make the `main` function `runBlocking` and then, try to launch new coroutines using `launch { }` inside the `dispatcher { message { } }` block.

Maybe I'm just doing something wrong...

[2022-07-14 08:57] wesley800 opened #252 "Move Dispathcer example out of com.github.kotlintelegrambot.dispatcher and add required imports"
When I tried to copy-paste the exmaple code to a class under my custom package (other than `com.github.kotlintelegrambot.dispatcher`), I found that all update subclasses are missing. Meanwhile IDEA just won't give out any import suggestions. I'm new to kotlin and it took quite a few time to find the root cause. Maybe it's better to make the examples more like a standalone project, rather than lies

[2022-08-19 23:56] NicolaM94 opened #257 "Bot sending duplicates"
Hello everyone!
I'm a newcomer for Telegram bot programming and I'm not really sure if this is a bug or it's me doing something wrong. If that's the case forgive me!

I'm trying to create a bot which simply returns data from a json file, filtering and manipulating it. Each json has a tag called "level", so I wrote a "search by level" callback query. Once is fired, this callback sends a message to

[2022-09-27 11:10] lifestreamy opened #259 "bot.setMyCommands() does not successfully add camelCase commands"
[code]
**Expected behavior**
output:
`command /userButtons description User Buttons`
**Actual behavior**
output:
 ``
**To Reproduce**
[code]

**Screenshots/Traceback**

**Possible solutions**
Fix something with Json Serialization

**Additional context**
any command added in lowerCamelCase/CamelCase is not getting added. After being added in full-low-case and being added again in camelCase the resu

[2022-09-27 22:53] vjgarciag96 commented on #259
Thanks for reporting @lifestreamy! However, I don't think that's a problem in the library but a limitation on Telegram's commands. The documentation says:

```A command must always start with the '/' symbol and may not be longer than 32 characters. Commands can use latin letters, numbers and underscores.```

They don't explicitly say lowercase latin letters, but by the underscores I imagine they w

[2022-09-27 22:53] #259 closed

[2022-10-03 21:54] vjgarciag96 commented on #257
I think this behaviour is intended. Every time you call `text { }`, you are adding a handler for text messages. If you call `text { }` every time you get a specific answer from the callback, you'll have as many handlers as answers (previous handlers are kept unless you remove them) and thus the duplicates and so on.

I think that if you put the `text {}` call outside of the callback query lambda y

[2022-10-04 00:28] NicolaM94 commented on #257
Having a library like that would be awesome, one could build much complex commands and queries. Up until that Christmas present though, I'll try to work something around implementing one of the solutions you guys suggested and poke it around to see the behavior, maybe manually closing the text handler each time. Thanks a lot!

[2022-10-04 00:28] #257 closed

[2022-10-04 15:14] lifestreamy commented on #259
It makes sense now, thank you!

[2022-10-10 16:54] lifestreamy opened #262 "How to call fun removeHandler(handler: Handler) correctly"
Say, for example, I have many nested callback queries, and they are added to bot handlers as they are created

[code]

In this example, as you can see, the callbackQuery handlers are sequentially created and thus added to Dispatcher. You can't get a response from callback3@ until you had a response from callback2@ and the handler for callback3@ is created in it.

So, I figured, this way I could ad

[2022-10-10 17:00] lifestreamy commented on #262
I have just tried, and if I create a button that sends a null.toString() callbackQuery, then A LOT of callbackQueries are executed
Just like in this person's case https://github.com/kotlin-telegram-bot/kotlin-telegram-bot/issues/257

[2022-10-10 17:03] lifestreamy commented on #262
Also, possibly the concept of a mutable set in Dispatcher at
private val commandHandlers = linkedSetOf<Handler>()
is broken and it keeps adding old handlers with the same values as a new ones.

Simple addition of an equals method  would probably resolve this

[2022-10-11 17:36] lifestreamy commented on #257
@NicolaM94 good day to you, gentleman, would you kindly answer to my issue that is mentioned this one in? My project depends on this behaviour and sadly, if I can't get removeHandler() to work, I am considering choosing another library. Thank you.

[2022-10-11 19:33] lifestreamy commented on #257
I think I've mistakenly menthioned the wrong user. Here we go @seik @vjgarciag96

[2022-10-14 09:27] lifestreamy opened #266 "Handlers are infinitely added"
**Expected behavior**
New handlers are not added with addhandler() if they already exist in the same scope

**Actual behavior**
New handlers with the same values are added indefinitely

**To Reproduce**

_**Dispatcher**_
[code]

_**Dispatcher.addHandler()**_
[code]

**Screenshots/Traceback**
![image](https://user-images.githubusercontent.com/44506462/195808828-4640077e-2614-4f77-9bde-9f3ae3d3aef0.

[2022-10-14 09:30] lifestreamy commented on #262
@seik

[2022-10-18 21:55] #147 closed

[2022-10-18 22:58] vjgarciag96 commented on #262
So, you could get around this by adding an identity to the underlying handler as you suggested in one of the PRs. You can do this without the need of changing the library (of course, it would be nicer if the library provides a built-in solution for this), so if you want to get around this before we get an impl. for this in the library and publish it, you can use something like the next:

[code]

T

[2022-10-19 07:27] lifestreamy commented on #262
No, it doesn't, it seems overly complicated. Why not just change the library to assign an id to every handler upon creation?

In my fork, I've changed commandHandlers to mutableMap with id's as keys, and added  handlerName as a parameter to all handler upon creation.
And it is perfectly useful. No bugs encountered. Little to no coding for the actual project required.

In your example I should writ

[2022-10-19 07:28] lifestreamy commented on #262
So I will resort to using my fork for now.

[2022-10-19 09:07] lifestreamy commented on #262
Also, thank you for your answer @vjgarciag96
I realize it might have taken you some time to write.

But it is just not the road I wish to go.

[2022-10-20 09:32] Mr3zee opened #269 "Lib disappeared on jitpack"
![telegram-cloud-document-2-5370752493640752148](https://user-images.githubusercontent.com/58986158/196912082-67a2fa3e-7854-497b-80fc-f42836d92c58.jpg)
<img width="422" alt="image" src="https://user-images.githubusercontent.com/58986158/196912277-8900efb1-7fc5-4e81-9eb0-810e3efc3c3b.png">
We can not pull latest release from jitpack

[2022-10-20 23:22] vjgarciag96 commented on #269
@Mr3zee I was able to pull the library via jitpack now. I can also find it fine here https://jitpack.io/#kotlin-telegram-bot/kotlin-telegram-bot/6.0.7. Do you have the jitpack repository configured properly in the project?

[2022-11-04 05:52] TigerBeanst opened #271 "Okhttp version is too old."
Trying to print Log:
[code]

But:
[code]

Then I found that kotlin-telegram-bot depends on okhttp 3.14.9
![image](https://user-images.githubusercontent.com/3889846/199899667-793da1f9-81ed-472b-8560-bdd4e6a00f43.png)

And ktor depends on 4.9.3....